:root {
    --primary-color: #121212;
    --secondar-color: #242424;
    --tertiary-color: #fff;
    --font-primary: white;
    --font-secondary: #b3b3b3;
    --font-tertiary: #000;
    --border-primary: #878787;
    --font-medium: 14px;
    --font-small: 12px;
    --font-larger: 20px;
    --font-sans: 'Montserrat', sans-serif;
}